<div class="row" id="pin_show">
  <div class="col-md-8" "col-md-offset-2">
    <div class="panel panel-default">

      <div class="panel-body">
        <h1>
          <%= dish.name %>
        </h1>
        <p class="description">
          <%= dish.description %>
        </p>
        <p></p>
   <!--      Submitted by
        <%= @pin.user.email %> -->
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-md-6">
 <!--            <p class="user"></p>
            Submitted by
            <%= @pin.user.email %>
          </div> -->
          <div class="col-md-6">
            <div class="btn-group pull-right">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>