



<div class="row" id="pin_show">
    <div class="col-md-8" "col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-body">
          <p>
            <%= image_tag dish.image.url(:medium) %>
          </p>
          <h1>
            <%= dish.name %>
          </h1>
          <p class="description">
            <%= dish.description %>
          </p>
          <p class="yumyuck">
            <%= dish.yumyuck %>
          </p> 
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-6">

            <div class="col-md-6">
              <div class="btn-group pull-right">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>