<div class="col-md-6 col-md-offset-3">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>Create A New Dish</h1>
      </div>
      <div class="panel-body">
        <%= render 'form' %>
        <p></p>
        <%= link_to "Back", :back %>
      </div>
    </div>
  </div>
</div>